meta(charset="UTF-8")

title S Mitler
//- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

//- link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/8.0.8/mmenu.css")

link(rel="stylesheet", href="css/main.min.css")
//- //как будет стилизоваться браузер на мобильных устройствах
meta(name="theme-color" content="#1a1a1a")
meta(name="msapplication-navbutton-color" content="#1a1a1a")
meta(name="apple-mobile-web-app-status-bar-style" content="#1a1a1a")

	